<form action="<%= edit_cat_url %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>
     Name:
     <input type="text" name="cat[name]" value="<%= @cat.name %>">
     <!-- name defines the format in which we send data back to params -->
   </label>
   <br>
   <label>
     Birth Date:
     <input type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>">
   </label>
   <br>
   
   <label>
     Color:
   <select class="" name="cat[color]">
     <option disabled selected>--PLEASE SELECT--</option>
     <% Cat::COLORS.each do |color| %>
     <option value="<%= "#{color}" %>"> <%= "#{color}" %> </option>
     <% end %>
   </select>
   <br>
  </label>
   
   
   
   
   
   <label>
     Sex:
     <br>
     <input type="radio" name="cat[sex]" value="<%= "M"%>">M<br>
     <input type="radio" name="cat[sex]" value="<%= "F"%>">F<br>
   </label>
   <br>
   <br>
   <label>
     Description:
     <br>
     <textarea name="cat[description]" > </textarea>
   </label>
   <br>
   <input type="submit" value="submit value">
</form>

